
  
  .addExportForm {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .addExportItem {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .addExportItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addExportItem > input {
    padding: 10px;
  }
  
  .addExportItem > select {
    padding: 10px;
  }
  
  .addExportButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  