.newExport {
    flex: 4;
}

.header {
    display: flex;
    flex-direction: row;
}

.arrowIcon {
    margin-left: 20px;
    margin-right: 20px;
}

.linkAddProduct {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.linkAddProduct:hover {
    background-color: rgb(242, 255, 242);
}

.datatableExportTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.linkAddExportProduct {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.linkAddExportProduct:hover {
    background-color: rgb(242, 255, 242);
}