.newExport {
    flex: 4;
}

.addExportForm {
    display: 4;
    margin-top: 10px;
    flex-direction: column;
}

.ExportFlex {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.nameExport {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.detailExport {
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}

.addExportItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 10px;
}

.addExportItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addExportItem>input {
    padding: 10px;
}

.addExportItem>select {
    padding: 10px;
}

.addExportButton {
    display: inline;
    margin-top: 10px;
    padding: 17px 20px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.ExportLine-text {
    margin-top: 20px;
}

.addTitle {
    font-size: 24px;
    font-weight: 500;
}

.addTitle-text {
    display: flex;
    justify-content: space-evenly;
    /* margin: 20px; */
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}