.factoryExport {
    flex: 4;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;
    
        &.Pending {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }
    
        &.InStore {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
    }
}
