.newProductServiceCenter {
    flex: 4;
    margin-left: 30px;
  }
  
  .addProductServiceCenterForm {
    margin-top: 10px;
  }
  
  .addProductServiceCenterItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductServiceCenterItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addProductServiceCenterItem > input {
    padding: 10px;
  }
  
  .addProductServiceCenterItem > select {
    padding: 10px;
  }
  
  .addProductServiceCenterButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  