.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 200px;
}

.featuredItem {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.right{
    display: flex;
    justify-content: space-between;
flex-direction: column;
align-items: flex-end;
}
.icon {
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
}
.red {
    background-color: rgb(255, 218, 218);
    color: rgb(208, 50, 50);
border: rgb(255, 146, 146) solid 1px;
}

.green {
    background-color: rgb(205, 255, 234);
    color: rgb(32, 182, 32);
border: rgb(146, 255, 184) solid 1px;
}
.yellow {
    background-color: rgb(255, 221, 171);
    color: rgb(237, 161, 31);
border: rgb(255, 203, 134) solid 1px;
}
.featuredTitle{
    font-size: 22px;
    font-weight: 550;
}

.featuredContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredDescription{
    font-size: 30px;
    font-weight: 600;
}

.featuredDescriptionRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredIcon.equal{
    color: rgb(188, 135, 0);
    font-size: 17px;
    font-weight: 600;
}

.featuredSub{
    font-size: 17px;
    color: rgb(99, 99, 99);
}