.factoryProducts-page {
    flex: 4;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
}
.factoryProducts-title {
    font-size: 22px;
    font-weight: 600;
  }
  
  .factoryProducts-table{
    width: 100%;
    border-spacing: 20px;
  }
  
.factoryProducts-th{
    text-align: left;
  }