.newServiceCenter {
    flex: 4;
    margin-left: 30px;
  }
  
  .newServiceCenterForm {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  
  .newServiceCenterItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .newServiceCenterItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newServiceCenterItem > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .newServiceCenterGender > input {
    margin-top: 15px;
  }
  
  .newServiceCenterGender>label{
      margin: 10px;
      font-size: 18px;
      color: #555;
  }
  
  .newServiceCenterSelect{
      height: 40px;
      border-radius: 5px;
  }
  
  .newServiceCenterButton{
      width: 100px;
      border: none;
      background-color: darkblue;
      color: white;
      padding: 15px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
  }