.factoryPage {
  flex: 4;
  font-family: 'Source Sans Pro', sans-serif;
}

/* .factoryListItem{
  display: flex;
  align-items: center;
} */

.header {
  display: flex;
  flex-direction: row;
}

.request-container {
  display: flex;
  position: relative;
}

.notification {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#request-btn {
  line-height: 35px;
  background-color: #3bb077;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  align-self: center;
}

#request-btn:hover {
  cursor: pointer;
  background-color: #59bc8c;
}

#request-btn:active {
  background-color: #155737;
}

.factoryListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.factoryListDelete {
  color: red;
  cursor: pointer;
}

.factoryAddress {
  white-space: pre-line;
  word-break: break-all;
}