.datatable {
    flex: 4;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .status-button {
        padding: 5px;
        border-radius: 5px;
        border: none;

        &.aaaa {
            background-color: #fbfffd;
            color: #3bb077;
            border: 1px solid #3bb077;
            border-radius: 3px;
            font-size: 14px;
            padding: 4px 8px;
            width: 120px;
        }

        &.aaa {
            background-color: #fffdf8;
            color: #e69200;
            border: 1px solid #e69200;
            border-radius: 3px;
            font-size: 14px;
            padding: 4px 8px;
            width: 120px;
        }

        &.string {
            background-color: #fff8fb;
            color: crimson;
            border: 1px solid crimson;
            border-radius: 3px;
            font-size: 14px;
            padding: 4px 8px;
            width: 120px;
        }
        &.Factory {
            background-color: #fbfdff;
            color: #2196f3;
            border: 1px solid #2196f3;
            border-radius: 3px;
            font-size: 14px;
            padding: 4px 8px;
            width: 120px;
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: purple;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }

        .acceptButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: green;
            border: 1px dotted rgba(0, 0, 139, 0.596);
            cursor: pointer;
        }
    }
}