.table {
    // flex: 4;
    // height: 100%;
    // width: 100%;
    // margin-left: 10px; 
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    // bỏ margin là sẽ bị rung rung rung, css lại thì chú ý nhé
    
    .status {
        padding: 5px;
        border-radius: 5px;

        &.InFactory {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.InStore {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
    }
}