

.blank {
    width: 1%;
}



.homeStore {
    display: flex;
    flex: 4;
}

.store-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 20px 20px 20px;
}

.feature-store {
    display: flex;
    flex-direction: row;
}

.chart-store {
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    margin-top: 20px;
}

.chart-title_ {
    font-size: 23px;
    line-height: 50px;
    font-weight: 550;
    margin-left: 20px;
}

.chart-content {
    min-height: 400px;
    height: 40vh;
}