.factoryFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.filterSection {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 14px;
    color: #000000DE;
    margin-right: 20px;
}

.filterBox {
    height: 35px;
    width: 230px;
}

#filterInputBox {
    height: 33px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0px 10px;
    width: 200px;
    border-radius: 4px;
}

#filterInputBox:hover {
    border-color: #000;
}

#filterInputBox:focus {
    /* width: 149px; */
    padding: 0px 9px;
    height: 31px;
    outline: none !important;
    border: 2px solid #1976d2;
    /* margin-right: 1px; */
}


#submit-btn {
    line-height: 35px;
    background-color: #3bb077;
    color: #fff;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    align-self: center;
}

#submit-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

#submit-btn:active {
    background-color: #155737;
}