.servicecenterPage {
  flex: 4;
}

.header {
  display: flex;
  flex-direction: row;
}

.servicecenterList {
  margin-left: 10px;
}

.add-serviceCenter {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-serviceCenter:hover {
  background-color: rgb(242, 255, 242);
}