.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
}

.sidebarWrapper {
  padding: 15px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  margin-left: 10px;
  font-size: 20px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 100px;
  margin: 5px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(230, 240, 255);
  color: rgb(145, 85, 253);
  /* background-color: rgb(145, 85, 253); */
  /* background-image: linear-gradient(98deg, rgb(198, 167, 254), rgb(145, 85, 253) 94%) */
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebarText{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
}
