.productLine {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.series {
  display: flex;
}

.seriesItem {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  margin: 0 10px 10px 0;
  align-items: center;
  justify-content: center;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.productline_slider {
  background-color: #fff;
  padding: 15px;
}

.productline_info {
  display: flex;
  justify-content: space-evenly;
}

.productline_link {
  width: 15%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 30px 12px 12px;
  border-radius: 5px;
}

.productline_item_text {
  padding-top: 15px;
}

.productline_item_text div {
  margin-bottom: 6px;
}

.productline_img {
  text-align: center;
  display: block;
}
.product__img {
  width: 160px;
  margin: 10px 0 0;
  height: auto;
  max-width: 100%;
}

.productline_name {
  margin-bottom: 5px;
}

.productline_name h3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  height: 65px;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.productline_badge {
  display: flex;
  margin-bottom: 10px;
}

.productline_more {
  font-size: 11px;
  color: #3a3a3a;
  border: 1px solid #d1d5db;
  padding: 1px 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.productline_price {
  display: inline-block;
  margin-bottom: 10px !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1;
  color: #d70018;
}
