.factoryPage {
  flex: 4;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.factoryListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.factoryListDelete {
  color: red;
  cursor: pointer;
  opacity: 0.85;
}

.factoryAddress {
  white-space: pre-line;
  word-break: break-all;
}

.range {
  flex: 1;
}

.add-factory {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-factory:hover {
  background-color: rgb(242, 255, 242);
}

